<div class="row " *ngIf="peliculas">


    <h3>{{ titulo }}</h3>


    <div class="col s6">
        <div class="row mb-0 mt-0 card">
            <div class="col s12 card-image pic-1" [ngStyle]="{'background-image': 'url('+ (peliculas[0]| peliculaImagen) +')'}">
                <i class="material-icons right activator white-text pointer mt-1">more_vert</i>
                <span class="card-title">{{peliculas[0].title}}</span>
            </div>
            <div class=" card-reveal ">
                <span class="card-title grey-text text-darken-4 ">{{peliculas[0].title}}<i class="material-icons right ">close</i></span>
                <p>{{peliculas[0].overview}}</p>
            </div>
        </div>
        <div class=" row mb-0 mt-0 card">
            <div class="col s6 pic-2 card-image " [ngStyle]="{ 'background-image': 'url('+ (peliculas[1]| peliculaImagen) + ')'} ">
                <span class="card-title ">{{peliculas[1].title}}</span>
            </div>
            <div class="col s6 pic-2 card-image " [ngStyle]="{ 'background-image': 'url('+ (peliculas[2]| peliculaImagen) + ')'} ">
                <span class="card-title ">{{peliculas[2].title}}</span>
            </div>
        </div>

    </div>
    <div class="col s6 ">
        <div class=" row mb-0 mt-0 card ">
            <div class="col s6 pic-2 card-image " [ngStyle]="{ 'background-image': 'url('+ (peliculas[3]| peliculaImagen) + ')'} ">
                <span class="card-title ">{{peliculas[3].title}}</span>
            </div>
            <div class="col s6 pic-2 card-image " [ngStyle]="{ 'background-image': 'url('+ (peliculas[4]| peliculaImagen) + ')'} ">
                <span class="card-title ">{{peliculas[4].title}}</span>
            </div>
        </div>
        <div class="row mb-0 mt-0 card">
            <div class="col s12 pic-1 card-image " [ngStyle]="{ 'background-image': 'url('+ (peliculas[5]| peliculaImagen) + ')'} ">
                <span class="card-title ">{{peliculas[5].title}}</span>
            </div>

        </div>

    </div>
</div>
